<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Lambda" target="SYSTEM_OUT">
            <PatternLayout>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %X{AWSRequestId} %-5p %c{1.}:%L - %m%n</pattern>
            </PatternLayout>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Lambda"/>
        </Root>
        <Logger name="msjackiebrown" level="DEBUG" additivity="false">
            <AppenderRef ref="Lambda"/>
        </Logger>
        <!-- AWS SDK v2 logging -->
        <Logger name="software.amazon.awssdk" level="WARN" additivity="false">
            <AppenderRef ref="Lambda"/>
        </Logger>
    </Loggers>
</Configuration>